.profileHeader {
    margin-left: 350px;
}


.profile-header-card {
    margin: 40px 520px 0px 0px;
    height: 60px;
    float: right;
    background-color: white;
    border: 0px;
}

.profileHeaderNameAlignment {
    float: left;
    font-size : 22px;
}

.profileHeaderDetailsAlignment {
    float: left;
    font-size : 15px;
}

.profileHeaderUserName {
    float: left;
    font-size : 20px;
    margin-right: 120px;
}

.modalHeader {
    float: left;
}

.modalHeaderSize {
    font-size : 25px !important;
}

.modalUpdateBtn {
    float: left;
    width: 80px;
    margin-top: 10px;
}

.photo-card {
    height : 600px;
    width: 550px;
    float:left;
    margin: 30px 0px 0px 100px;
}

.all-photos-img-size {
    height : 100%;
}

.modal-photo-img-size {
    height: 500px;
    width: 300px
}

.modal-photo-img-alignment {
    float: left
}

.modal-tab-size {
    width: 400px;
    margin-left: 10px !important;
}

.all-photos {
    margin: 15px 0px 0px 65px;
}

.grid-alignment {
    margin: 15px 150px 0px 150px !important;
}

.modal-likes-alignment {
    text-align: left
}

.modal-comments-alignment {
    text-align: left;
    margin: 70px 0px 125px 0px;
}