.profileHeader {
    margin-left: 350px;
}


.profile-header-card {
    margin: 40px 520px 0px 0px;
    height: 60px;
    float: right;
    background-color: white;
    border: 0px;
}

.profileHeaderNameAlignment {
    float: left;
    font-size : 22px;
}

.profileHeaderDetailsAlignment {
    float: left;
    font-size : 15px;
}

.profileHeaderUserName {
    float: left;
    font-size : 20px;
}

.modalHeader {
    float: left;
}

.modalHeaderSize {
    font-size : 25px !important;
}

.modalUpdateBtn {
    float: left;
}

.photo-card {
    height : 600px;
    width: 550px;
    float:left;
    margin: 30px 0px 0px 100px;
}

.all-photos-img-size {
    width: 320px;
    height : 200px;
    float:left;
    margin-right: 5px
}

.all-photos {
    margin: 15px 0px 0px 65px;
}